<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe page</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/recipe.css">
</head>
<body>
    <header id="navbar-container">
        <navbar :showsearch="true" />
    </header>
        <!-- <ul>
            <li class="logo"><a href="home.html"><img src="images/Logo.svg" alt="kitchen Quest"></a></li>
            <div class="items">
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Trending</a></li>
            </div>
            <li class="search-icon">
                <input type="search" placeholder="search Recipes">
                <div class="icon">
                    <span><img src="images/search.svg" alt="search"></span>
                </div>
                
            </li>
        </ul> -->
    </nav>
    <main>
        <div class="recipe-container">
            <div class="recipe_image">
            <img class="recipe-image" src="images/Rectangle 30.png" alt="recipe">
            </div>
            <div class="recipe-summary">
                <h1 class="recipe-title"></h1>
                <p></p>
            </div>
            <div class="box"></div>
            <div class="savedrecipebox"></div>
        </div>
    
    </main>
    <script type="importmap">
        {
            "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
            "navbar": "/views/scripts/components/navbar.js"
            }
        }
    </script>
    <script type="module">
        import { createApp } from 'vue';
        import navbar from 'navbar';

        createApp({}).component('navbar', navbar).mount('#navbar-container');
    </script>
    
</body>
</html>