<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe page</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/recipe.css">
</head>
<body>
    <nav>
        <ul>
            <li class="logo"><a href="home.html"><img src="images/Logo.svg" alt="kitchen Quest"></a></li>
            <div class="items">
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Trending</a></li>
            </div>
            <li class="search-icon">
                <input type="search" placeholder="search Recipes">
                <div class="icon">
                    <span><img src="images/search.svg" alt="search"></span>
                </div>
                
            </li>
        </ul>
    </nav>
    <main>
        <div class="recipe">
        <div class="recipe-image">
            <img src="images/Rectangle 30.png" alt="recipe">
        </div>
        <div class="vector">
            <img src="images/Vector.svg" alt="vector">
        </div>
        </div>
    
    </main>
    
</body>
</html>