<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/about.css?{{ cache_id }}"/>
        <link rel="stylesheet" href="../static/styles/common.css?{{ cache_id }}"/>
        <title>About</title>
    </head>
    <!--end of head-->
    <body>
        <section id="about-top">
        <h1>How to navigate</h1>
        <div id="about">
            <img src="../static/images/image7.png" alt="display image"/>
            <div>
            <h2>Everything you want in the search button</h2>
            </div>
            <p>
                KitchenQuest aims to solve the challenge of deciding what to cook based on the ingredients 
                available to users. Often, people find themselves with a collection of ingredients but lack the 
                inspiration to create a meal. This application will bridge that gap by suggesting recipes that 
                can be prepared using the ingredients the user already has. It's designed to streamline the cooking 
                process, reduce food waste, and offer creative culinary options even when faced with limited ingredients.
            </p>
        </div>
        </sectin>
    </body>
    <!--end of body-->
</html>
