@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
  /* -webkit-tap-highlight-color: transparent; */
}

/* ==========================================================================
  Base Styles
  ========================================================================== */
  
:root {
  --background-color: #FFF5EC;
  --red-color: #FD043C;
  --blue-theme-color: #261A5A;
  --hash-color: #727070;
  --grayscale-50: #333333;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}
body {
  background: var(--background-color);
  font-family: var(--primary-font);
  -webkit-tap-highlight-color: var(--background-color);
}